.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}
.main-column {
    flex: 3;
    order: 2;
}
.sidebar-one {
    flex: 1;
    order: 1;
}
.sidebar-two {
    flex: 1;
    order: 3;
}

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: flex-start ;
}

.call-out  {
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    box-sizing: border-box;
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}